{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = '{% static "registration/css/styles.css" %}' rel="stylesheet">
    <link href = '{% static "registration/css/main.css" %}' rel="stylesheet">
    <title>Главная страница</title>
</head>
<body>
    <div class="links">
        <a class="main_link" href="main.html"><p>Главная Страница</p></a>
        <a class="diary_link" href="diary.html"><p>Дневник</p></a>
        <a class="news_link" href="news.html"><p>Новости</p></a>
        <a class="marks_link"  href="marks.html"><p>Ср. Балл</p></a>
        <a class="messenger_link"  href="messenger.html"><p>Сообщения</p></a>
    </div>
    <button class="notifications"> <img  class="notifications_icon" src='{% static "registration/img/kokokl.png" %}' style="width: 64px;"> </button>
    <div class="user_icon"><a class="user_icontext">АС</a></div>

    <div class="fast_rasp">
        {% for i in rasp_data %}
            <a class="rasp_day">Расписание на {{ i.data }}</a>
            <div claas="fast_lessons">
                <div class="fast_lesson1"><p>{{ i.urok1 }}</p></div>
                <div class="fast_lesson2"><p>{{ i.urok2 }}</p></div>
                <div class="fast_lesson3"><p>{{ i.urok3 }}</p></div>
                <div class="fast_lesson4"><p>{{ i.urok4 }}</p></div>
                <div class="fast_lesson5"><p>{{ i.urok5 }}</p></div>
                <div class="fast_lesson6"><p>{{ i.urok6 }}</p></div>
            </div>
        {% endfor %}
        <div class="fast_lessons_time">
            <a class="fast_time1">1 урок 8.20-9.00</a>
            <a class="fast_time2">2 урок 9.20-10.00</a>
            <a class="fast_time3">3 урок 10.20-11.00</a>
            <a class="fast_time4">4 урок 11.20-12.00</a>
            <a class="fast_time5">5 урок 12.20-13.00</a>
            <a class="fast_time6">6 урок 13.20-14.00</a>
        </div>
    </div>
    <div class="check_list">
        <p class="check_list_txt">Чек-лист</p>
        <div class="checkboxes">
            <div class="tommorow"><img class="iconc" src= "{% static 'registration/img/exclamation-mark.png' %}" style="width: 64px;"><p class="tommorow_txt">Завтра</p></div>
            <label class="checkbox style-d">
                <input type="checkbox"/>
                <div class="checkbox__checkmark"></div>
                <div class="checkbox__body"><p>Русский Язык</p>
                    <p class="check_list_hometask">стр. 1-5 правило...</p>
                </div>
            </label>
            <label class="checkbox1 style-d">
                <input type="checkbox"/>
                <div class="checkbox1__checkmark"></div>
                <div class="checkbox1__body"><p>Информатика</p>
                    <p class="check_list_hometask1"></p>
                </div>
            </label>
        </div>
    </div>
</body>
</html>