<!DOCTYPE html>
<html lang="en">
<head> <link rel="stylesheet" href="style.css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Работа</title>
</head>
<body>
	<div class="header">
		<div class="main" >
			<div class="titles">Главная</div>
		</div>
		<div class="posts" >
			<div class="titles">Объявления</div>
		</div>
		<div class="job" >
			<div class="titles">Работа</div>
		</div>
		<div class="support" >
			<div class="titles">Поддержка</div>
		</div>
		<div class="chat" >
			<div class="titles">Чат</div>
		</div>
		<div class="login" >
			<div class="button_text">Вход</div>
		</div>
	</div>

	<div class="search_bar">
		<div class="search">
			<img src="img/search_img.png" alt="" class="search_img">
		</div>
	</div>

	<div class="vacancys_resume">
		<div class="vacancys">Вакансии</div>
		<div class="resume">Резюме</div>
	</div>
	<div class="filters_job">
		<div class="filters_region">
			<div class="region">Регион</div>
			<div class="cir_black"></div>
			<div class="region_title">ghfjdhgjfd</div>
			<div class="cir_gray"></div>
			<div class="region_title">dksajdklajksd</div>
		</div>
		<div class="filters_income">
			<div class="income">Уровень дохода</div>
			<div class="cir_black"></div>
			<div class="income_title">ghfjdhgjfd</div>
			<div class="cir_gray"></div>
			<div class="income_title">dksajdklajksd</div>
		</div>
	</div>

</body>