
.day1{
    position: absolute;
    width: 40%;
    height: 45%;
    left: 3%;
    top: 20%;    
    background: #434040;
    border-radius: 10px;
}

.day1_lesson1{
    position: absolute;
    width: 31%;
    height: 15%;
    left: 0%;
    top: 0%;
    background: #363434;
    border-radius: 10px;
}
            .day1_lesson1 p, .day1_lesson2  p,.day1_lesson3  p,.day1_lesson4  p,.day1_lesson5  p,.day1_lesson6  p{
                position: absolute;
                top: -30%;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 65px;
                color: #FFFFFF;
            }

            .day1_lesson1 a, .day1_lesson2 a, .day1_lesson3 a,.day1_lesson4 a,.day1_lesson5 a,.day1_lesson6 a{
                position: absolute;
                width: 120%;
                height: 25px;
                left: 3px;
                top: 1%;
                font-family: 'Nunito';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 25px;
                color: #686868;
            }

.day1_lesson2{
    position: absolute;
    width: 40%;
    height: 15%;
    left: 0%;
    top: 16%;
    background: #363434;
    border-radius: 10px;
}

.day1_lesson3{
    position: absolute;
    width: 20%;
    height: 15%;
    left: 0%;
    top: 32%;
    background: #363434;
    border-radius: 10px;
}

.day1_lesson4{
    position: absolute;
    width: 24%;
    height: 15%;
    left: 0%;
    top: 48%;
    background: #363434;
    border-radius: 10px;
}

.day1_lesson5{
    position: absolute;
    width: 18%;
    height: 15%;
    left: 0%;
    top: 64%;
    background: #363434;
    border-radius: 10px;
}

.day1_lesson6{
    position: absolute;
    width: 17%;
    height: 15%;
    left: 0%;
    top: 80%;
    background: #363434;
    border-radius: 10px;
}

.day1_task1,.day1_task2,.day1_task3,.day1_task4,.day1_task5,.day1_task6{
    position: absolute;
    width: 200%;
    height: 100%;
    left: 120%;
    top: 80%;
}

.day1_mark1,.day1_mark2,.day1_mark3,.day1_mark4,.day1_mark5,.day1_mark6{
    position: absolute;
    width: 8%;
    height: 15%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
    left:92%;
}

.day1_mark2{
    top: 16%;
}

.day1_mark3{
    top: 32%;
}

.day1_mark4{
    top: 48%;
}

.day1_mark5{
    top: 64%;
}

.day1_mark6{
    top: 80%;
}

.day2{
    position: absolute;
    width: 40%;
    height: 45%;
    left: 3%;
    top: 67%;    
    background: #434040;
    border-radius: 10px;
}

.day3{
    position: absolute;
    width: 40%;
    height: 45%;
    left: 3%;
    top: 114%;    
    background: #434040;
    border-radius: 10px;
}

.day4{
    position: absolute;
    width: 40%;
    height: 45%;
    left: 48%;
    top: 20%;    
    background: #434040;
    border-radius: 10px;
}

.day5{
    position: absolute;
    width: 40%;
    height: 45%;
    left: 48%;
    top: 67%;    
    background: #434040;
    border-radius: 10px;
}

.day6{
    position: absolute;
    width: 40%;
    height: 45%;
    left: 48%;
    top: 114%;    
    background: #434040;
    border-radius: 10px;
}

.dolgi{
    position: absolute;
    width: 3%;
    height:5.5%;
    left: 4%;
    top: 12%;
    background: #DF1010;
    border-radius: 10px;
}

.dolgi_int{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20%;
    top: -140%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    color: #FFFFFF;
}

.padezh{
    position: absolute;
    width: 39px;
    height: 87px;
    left: 120%;
    top: -95%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 87px;
    color: #FFFFFF;
}

button.btn{
    position: absolute;
    width: 13%;
    height: 5%;
    left: 40%;
    top: 12%;
    border-radius: 10px;
    background: #363434;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
}

button.btn::before{
    position: absolute;
    width: 13%;
    height: 5%;
    left: 40%;
    top: 12%;
    border-radius: 10px;
    background: #363434;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
}

button.btn:active{
    position: absolute;
    width: 13%;
    height: 5%;
    left: 40%;
    top: 12%;
    border-radius: 10px;
    background: #4e4b4b;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
    transform: translate3d(0, 0.09em, -2em);
    transition: transform 0.15s;
}

.btn p{
    position: absolute;
    width: 200%;
    height: 0%;
    left: -50%;
    top:-30% ;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

button.left_arrow{
    position: absolute;
    width: 3.3%;
    height: 5%;
    left: 36%;
    top: 12%;
    border-radius: 10px;
    background: #363434;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
}

button.left_arrow::before{
    position: absolute;
    width: 3.3%;
    height: 5%;
    left: 36%;
    top: 12%;
    border-radius: 10px;
    background: #363434;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
}

button.left_arrow:active{
    position: absolute;
    width: 3.3%;
    height: 5%;
    left: 36%;
    top: 12%;
    border-radius: 10px;
    background: #4e4b4b;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
    transform: translate3d(0, 0.09em, -2em);
    transition: transform 0.15s;
}

button.right_arrow{
    position: absolute;
    width: 3.3%;
    height: 5%;
    left: 53.7%;
    top: 12%;
    border-radius: 10px;
    background: #363434;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
}

button.right_arrow::before{
    position: fixed;
    width: 3.3%;
    height: 5%;
    left: 53.7%;
    top: 12%;
    border-radius: 10px;
    background: #363434;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 0.15s, box-shadow 0.15s;
}

button.right_arrow:active{
    position: absolute;
    width: 3.3%;
    height: 5%;
    left: 53.7%;
    top: 12%;
    border-radius: 10px;
    background: #4e4b4b;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 2px solid #363434;
    transform: translate3d(0, 0.09em, -2em);
    transition: transform 0.15s;
}