.contacts{
    position: relative;
    width: 20%; 
    height: 93%;
    background-color: #434040;
    left: 0%;
    top: 7%;
}
.fast_messenger{
    position: fixed;
    width: 40%;
    height: 80%;
    top:17%;
    left: 5%;
    bottom: 47px;
    background: #434040;
    border-radius: 10px;
}

.ramka_messenger{
    position: fixed;
    width: 40%;
    height: 5%;
    background: #434040;   
}

.ramka_messenger p{
    position: relative;
    width: 604px;
    height: 68px;
    top: -30%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.open_messenger{
    position: fixed;
    top:17%;
    left: 42%;
    background-color:rgba(0, 0, 0, 0); ;
    border: 0px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.open_messenger:active{
    position: fixed;
    top:17%;
    left: 42%;
    background-color:rgba(0, 0, 0, 0); ;
    border: 0px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    transition: transform 0.7s;
    transform: rotate(36deg);
    font-style: 100%;
}

.open_news{
    position: fixed;
    top:17%;
    left: 92%;
    background-color:rgba(0, 0, 0, 0); ;
    border: 0px;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

.open_news:active{
    position: fixed;
    top:17%;
    left: 92%;
    background-color:rgba(0, 0, 0, 0); ;
    border: 0px;
    display: inline-block;
    cursor: pointer;
    outline: none;
    transition: transform 0.7s;
    transform: rotate(36deg);
    font-style: 100%;
}
.message_print{
    position:fixed;
    width: 32%;
    height: 5.5%;
    top: 91.5%;
    background-color: #252525;
    z-index: 5;
    }
    
    
    .print_text{
    position: relative;
    width: 73%;
    height:90%;
    top: 0%;
    left: 16%;
    background-color: #252525;
    border-radius: 10px;
    border: 2px #252525 ;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 87px;
    color: #686868;
    z-index: 1000;
    }

.messanges{
    position: relative;
    width: 80%;
    height: 93%;
    top: -86%;
    left: 20%;
    background: #363434
}

.emoji{
position: relative;
width: 5%;
height: 80%;
top: 12%;
left:-66%;
display: inline-block;
cursor: pointer;
outline: none;
background-color: rgba(0, 0, 0, 0);
border: #686868;
z-index: 555;
}

.emoji:active{
    position: relative;
    width: 5%;
    height: 80%;
    top: 12%;
    left: -66%;
    display: inline-block;
    cursor: pointer;
    outline: none;
    transform: translate3d(0, 0.9em, -4em);
    transition: transform 0.15s;
    background-color: rgba(0, 0, 0, 0);
    border: #686868;
    z-index: 555;
    }

.emoji_icon,.skrepka_icon, .send_icon{
        position: relative;
        top:-10%;
        left:-10%;
        
        }

        button.contact_ivan{
            position: relative;
            left: 5%;
            top: 2%;
            width: 90%;
            height: 4%;
            background: #DB00FF;
            border-radius: 6px;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 2px solid #DB00FF;
            }
            
            button.contact_ivan:active{
            position: relative;
            left: 5%;
            top: 2%;
            width: 90%;
            height: 4%;
            background: #DB00FF;
            border-radius: 6px;
            display: inline-block;
            cursor: pointer;
            outline: none;
            transform: translate3d(0, 0.09em, -2em);
            transition: transform 0.15s;
            border: 2px solid #fFF;
            }
            
            .contact_ivan p{
                position: relative;
                width: 90%;
                height: 10%;
                left: 5%;
                top: -80%;
                font-family: 'Nunito';
                font-style: normal;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                color: #FFFFFF;
                }

                .poisk{
                    position: relative;
                    width: 100%;
                    height: 4%;
                    background-color: #2F2F2F;
                    }
                    
                    .poisk_text{
                    position: relative;
                    width: 80%;
                    height: 60%;
                    top: 5%;
                    left: 5%;
                    background: #363434;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 6px;
                    font-family: 'Nunito';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 44px;
                    text-align: center;
                    color: #686868;
                    }
                    
                    .send{
                        position: relative;
                        width: 5%;
                        height: 80%;
                        top: 10%;
                        left:4%;
                        display: inline-block;
                        cursor: pointer;
                        outline: none;
                        background-color: rgba(0, 0, 0, 0);
                        border: #686868;
                        z-index: 555;
                        }
                        
                        .send:active{
                        position: relative;
                        width: 5%;
                        height: 80%;
                        top: 10%;
                        left: 4%;
                        display: inline-block;
                        cursor: pointer;
                        outline: none;
                        transform: translate3d(1    em, 0em, 0em);
                        transition: transform 0.15s;
                        background-color: rgba(0, 0, 0, 0);
                        border: #686868;
                        z-index: 555;
                        }

                        .skrepka{
                            position: relative;
                            width: 5%;
                            height: 80%;
                            top: 10%;
                            left: -79%;
                            display: inline-block;
                            cursor: pointer;
                            outline: none;
                            background-color: rgba(0, 0, 0, 0);
                            border: #686868;
                            z-index: 555;
                            }
                            
                            .skrepka:active{
                            position: relative;
                            width: 5%;
                            height: 80%;
                            top: 10%;
                            left: -79%;
                            display: inline-block;
                            cursor: pointer;
                            outline: none;
                            transform: translate3d(0, 0.9em, -4em);
                            transition: transform 0.15s;
                            background-color: rgba(0, 0, 0, 0);
                            border: #686868;
                            z-index: 555;
                            }
                        
                        .your_messages{
                            position: fixed;
                            width: 10%;
                            top: 22.5%;
                            left: 35%;
                            height: 68%;
                            z-index: 999;
                        }
                        .messanges_nyou{
                            position: fixed;
                            width: 10%;
                            top: 22.5%;
                            left: 13%;
                            height: 68%;
                            z-index: 999;
                        }
                        .your_message1{
                            position: relative;
                            width: 90%;
                            height: 4%;
                            top: 86%;
                            left: 7%;
                            background: #DB00FF;
                            border-radius: 6px 6px 0px 6px;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            text-align: center;
                            color: #FFFFFF;
                        }

                        .your_time1{
                            position:relative;
                            top: 83%;
                            width: 90%;
                            height: 3%;
                            left: 30%;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 33px;
                            text-align: center;
                            color: #686868;
                            z-index: 3;
                            }
                        .message1{
                            position: relative;
                            width: 90%;
                            height: 4%;
                            top: 90%;
                            left: 3%;
                            border-radius: 6px 6px 6px 0px;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            text-align: center;
                            color: #FFFFFF;
                            background-color: #686868;
                        }

                        .time1{
                            position: relative;
                            width: 90%;
                            height: 3%;
                            right: 20%;
                            top: 86.5%;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 33px;
                            text-align: center;
                            color: #686868;
                            z-index: 3;
                        }
                        .dates{
                            position: fixed;
                            width: 10%;
                            top: 22.5%;
                            left: 23%;
                            height: 68%;
                            z-index: 999;
                        }
                        
                        .date1{
                            position: relative;
                            width: 90%;
                            height: 4%;
                            top:80%;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 18px;
                            text-align: center;
                            color: #686868;
                        }




                       .fast_news{
                        position: fixed;
                        width: 40%;
                        height: 80%;
                        top:17%;
                        left: 55%;
                        bottom: 47px;
                        background: #434040;
                        border-radius: 10px;
                       } 

                       .ramka_news{
                        position: fixed;
                        width: 40%;
                        height: 5%;
                        background: #363434;   
                    }
                    
                    .ramka_news p{
                        position: relative;
                        width: 604px;
                        height: 68px;
                        top: -30%;
                        font-family: 'Nunito';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 28px;
                        line-height: 24px;
                        text-align: center;
                        color: #FFFFFF;
                    }
                        .news1{
                            position: absolute;
                            width: 60%;
                            height: 15%;
                            left: 7%;
                            top: 20%;
                            background: #303030;
                            border-radius: 10px;
                        }
                        
                        .news1 a,.news2 a{
                            position: absolute;
                            left: 2.5%;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 28px;
                            line-height: 35px;
                            color: #FFFFFF;
                        }
                        .news1 p, .news2 p{
                            position: absolute;
                            width: 30%;
                            top: 72%;
                            left: 78%;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 10px;
                            color: #686868;
                            
                        }
                        
                        .news2{
                            position: absolute;
                            width: 60%;
                            height: 20%;
                            left: 7%;
                            top: 42%;
                            background: #303030;
                            border-radius: 10px;
                        }
                        
                        .changes_rasp{
                            position: absolute;
                            width: 20%;
                            height: 15%;
                            right: 33%;
                            top: 64%;
                            background: #363434;
                            border-radius: 10px;
                        }
                        
                        .changes_rasp p{
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 20px;
                            text-align: center;
                            color: #FFFFFF;
                        }
                        
                        .changes_rasp a{
                            position: absolute;
                            width: 40%;
                            height: 30%;
                            left: 30%;
                            top: 60%;
                            background: #252525;
                            border-radius: 5px;
                            font-family: 'Nunito';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 44px;
                            text-align: center;
                            text-decoration-line: underline;
                            cursor:pointer;
                            color: #A1A1A1;
                        }
                        
                        .author1{
                            position: absolute;
                            width: 50%;
                            height: 110%;
                            left: 102%;
                            background: #262626;
                            border-radius: 10px;
                        }
                        .author2{
                            position: absolute;
                            width: 50%;
                            height: 100%;
                            left: 102%;
                            background: #262626;
                            border-radius: 10px;
                        }
                        
                        .img_author1, .img_author2{  
                            position: absolute;
                            left: 5%;
                            top: 5%;
                            width: 110px;
                            height: 110px;
                            border-radius: 999px;
                            background-color: blueviolet;
                        }
                        
                        
                        .img_author1 p, .img_author2 p{
                            color: #FFFFFF;
                            font-size: 75px;
                            position: absolute;
                            top: -20%;
                            left: 5%;
                        
                        }
                        
                        .author3{
                            position: absolute;
                            width: 150%;
                            height: 120%;
                            left: 106%;
                            top: 17px;
                            background: #262626;
                            border-radius: 10px;
                        }
                        
                        
                        .img_author3{
                            position: absolute;
                            left: 5%;
                            top: 2%;
                            width: 110px;
                            height: 110px;
                            border-radius: 999px;
                            background-color: blueviolet;
                        }
                        
                        .img_author3 p{
                            color: #FFFFFF;
                            font-size: 73px;
                            position: absolute;
                            top: -20%;
                            left: 5%;
                        }