@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
a{text-decoration: none;}

body{
    background: #4F4F4F;
}


.main_link p , .your_classes_link p , .news_link p, .messenger_link p {
    font-size: 16px;
    line-height: 70%;
    color: #FFFFFF;
    position: relative;
    top: 18%;
}

.main_link{
    position: absolute;
    top: 3%;
    left: 1.5%;
    width: 15%;
    height: 7.5%;
    background: #363434;
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.your_classes_link{
    position: absolute;
    top: 3%;
    left: 19.5%;
    width: 15%;
    height: 7.5%;
    background: #363434;
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.news_link{
    position: absolute;
    top: 3%;
    left: 37.5%;
    width: 15%;
    height: 7.5%;
    background: #363434;
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.messenger_link{
    position: absolute;
    top: 3%;
    left: 56.5%;
    width: 15%;
    height: 7.5%;
    background: #363434;
    border-radius: 10px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

.notifications{
    position:absolute;
    top: 3%;
    left: 87.5%; 
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}

.notificatiom_icon{
    position: absolute;
    height: 4%;
    width: 2%;
}

.user_icon{
    position: absolute;
    width: 3.5%;
    height: 6.5%;
    left: 92%;
    top: 3%;
    background: #DB00FF;
    z-index: 4;
    border-radius: 50px;
}
.user_icontext {
    left: 7%;
    position: relative;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    z-index: 4;
    color: #FFFFFF;
}

.notifications:active{
    position:absolute;
    top: 3%;
    left: 87.5%; 
    transform: translate3d(0em, 0.25em, 0em);
    transition: transform 0.15s;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
}